.norti-hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--color-background-primary);
}

.norti-hero::before {
    content: "";
    position: absolute;
    top: -80%;
    right: -40%;
    width: 120%;
    height: 300%;
    background: radial-gradient(circle, rgba(0, 49, 255, 0.4) 0%, transparent 70%);
    animation: moveBlue 8s infinite ease-in-out;
    will-change: transform, opacity;
    z-index: 1;
}

.norti-hero::after {
    content: "";
    position: absolute;
    top: -80%;
    right: -50%;
    width: 120%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 0, 98, 0.4) 0%, transparent 70%);
    animation: movePink 10s infinite ease-in-out;
    will-change: transform, opacity;
    z-index: 1;
}

.norti-hero .norti-light-green {
    position: absolute;
    top: -80%;
    right: -60%;
    width: 120%;
    height: 300%;
    pointer-events: none;
    background: radial-gradient(circle, rgba(0, 255, 163, 0.4) 0%, transparent 70%);
    animation: moveGreen 14s infinite ease-in-out;
    will-change: transform, opacity;
}

.norti-hero .norti-noise {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: 100px;
    opacity: 0.75;
    mix-blend-mode: overlay;
}

.norti-hero-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 0%, var(--color-background-primary) 100%);
    z-index: 2;
}

.norti-heroContent {
    align-items: flex-start;
    width: 100%;
    max-width: 1440px;
    padding: 0;
    z-index: 10;
    box-sizing: border-box;
}

.norti-hero h1 {
    font-size: 94px;
    line-height: 1.1;
    margin: 20px 0;
}

.norti-hero p {
    font-size: 28px;
    line-height: 1.1;
}


/* ANIMAÇÕES --------------------------------------------------- */

@keyframes moveBlue {
    0% {
        transform: translate(0%, 0%) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: translate(15%, 25%) scale(1.15);
        opacity: 1;
    }

    100% {
        transform: translate(0%, 0%) scale(1);
        opacity: 0.8;
    }
}

@keyframes movePink {
    0% {
        transform: translate(20%, -10%) scale(1.1);
        opacity: .8;
    }

    50% {
        transform: translate(-15%, 20%) scale(1.18);
        opacity: 1;
    }

    100% {
        transform: translate(20%, -10%) scale(1.1);
        opacity: .8;
    }
}

@keyframes moveGreen {
    0% {
        transform: translate(-10%, 10%) scale(1.05);
        opacity: .7;
    }

    50% {
        transform: translate(20%, -20%) scale(1.22);
        opacity: .95;
    }

    100% {
        transform: translate(-10%, 10%) scale(1.05);
        opacity: .7;
    }
}


/* TEMAS ------------------------------------------------------- */

html[data-theme='dark'] .norti-hero::before,
html[data-theme='dark'] .norti-hero::after,
html[data-theme='dark'] .norti-hero .norti-light-green {
    mix-blend-mode: screen;
    opacity: 0.95;
}

html[data-theme='light'] .norti-hero::before,
html[data-theme='light'] .norti-hero::after,
html[data-theme='light'] .norti-hero .norti-light-green {
    mix-blend-mode: multiply;
    opacity: 1;
}

html[data-theme='dark'] .norti-hero {
    backdrop-filter: brightness(1.1) contrast(1.05);
}


/* GRID — IDENTIDADE VISUAL ----------------------------------- */

.norti-hero-grid {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    pointer-events: none;
    z-index: 3;

    opacity: .25;
    mix-blend-mode: overlay;

    background-image:
        linear-gradient(var(--color-background-primary-reverse) 1px, transparent 1px),
        linear-gradient(90deg, var(--color-background-primary-reverse) 1px, transparent 1px);
    background-size: 100px 100px;


}


/* RESPONSIVO -------------------------------------------------- */


/* TABLET 1360px */
@media (max-width: 1360px) {

    .norti-hero {
        height: 450px;
    }

    .norti-heroContent {
        min-width: 100%;
        padding: 0 5vw;
    }

    .norti-hero h1 {
        font-size: 64px;
    }

    .norti-hero p {
        font-size: 22px;
    }

    .norti-hero::before,
    .norti-hero::after,
    .norti-hero .norti-light-green {
        width: 200%;
        height: 150%;
        top: -20%;
        left: -50%;
    }


    .norti-hero-grid {
        background-size: 50px 50px;
        opacity: 0.15;
        right: 0;
    }
}


/* TABLET 768px */
@media (max-width: 768px) {

    .norti-hero {
        height: 550px;
    }

    .norti-heroContent {
        padding: 0 30px;
    }

    .norti-hero h1 {
        font-size: 58px;
        line-height: 1.1;
    }

    .norti-hero p {
        font-size: 21px;
        line-height: 1.2;
    }

    .norti-hero .norti-noise {
        background-size: 40px;
        opacity: 0.45;
    }


    .norti-hero-grid {
        background-size: 50px 50px;
        opacity: 0.15;
        right: 0;
    }
}


/* MOBILE 480px */
@media (max-width: 480px) {

    .norti-hero {
        height: 480px;
    }

    .norti-heroContent {
        padding: 0 20px;
        min-width: 100%;
    }

    .norti-hero h1 {
        font-size: 34px;
    }

    .norti-hero p {
        font-size: 16px;
    }

    .norti-hero::before,
    .norti-hero::after,
    .norti-hero .norti-light-green {
        width: 250%;
        height: 180%;
        top: -40%;
        left: -80%;
    }

    .norti-hero .norti-noise {
        background-size: 30px;
        opacity: 0.35;
    }

    .norti-hero-fade {
        height: 200px;
    }


    .norti-hero-grid {
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        right: auto;

        background-size: 36px 36px;
        opacity: 0.15;
    }
}


/* FORM -------------------------------------------------------- */

.norti-form-container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.norti-form .form-step {
    display: none;
    flex-direction: column;
    gap: 15px;
    animation: fadeIn 0.5s ease-in-out;
}

.norti-form .form-step.active {
    display: flex;
}

.norti-form label {
    font-weight: bold;
    font-size: 16px;
}

.norti-form input,
.norti-form select,
.norti-form textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}

.norti-form button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #4f46e5;
    color: #fff;
    transition: background 0.3s;
}

.norti-form button:hover {
    background-color: #3730a3;
}

.norti-form button.prev-btn {
    background-color: #ccc;
    color: #000;
}

.norti-form button.prev-btn:hover {
    background-color: #999;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.success-step {
    text-align: center;
}