.nortiHeader {
  padding: 16px 0;
  background: rgba(255, 255, 255, 0.15); /* transparência leve */
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border: var(--color-outline-secondary);
  border-radius: 20px; /* bordas arredondadas */
  margin: 10px auto; /* centraliza horizontalmente */
  transition: background 0.25s ease, border 0.25s ease;
  position: relative;
  z-index: 999;
}

/* fixo no topo com efeito glass */
.nortiHeader.fixed {
  position: fixed;
  top: 10px; /* mantém uma margem do topo */
  left: 50%;
  transform: translateX(-50%);
  width: 70%; /* mesma largura menor */
  z-index: 9999;
}

.nortiHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  margin: 0 auto;
}


.logo img {
  display: flex;
  height: 26px;
  cursor: pointer;
}

.contentGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}


.site-nav ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

.site-nav a {
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.theme-btn,
.mobile-menu-btn {
  display: flex;
  background: var(--color-background-button-theme);
  color: var(--color-text-button-theme);
  padding: 8px;
  border-radius: 12px;
  border: 0;
  cursor: pointer;
}

.theme-btn:hover,
.mobile-menu-btn:hover {
  background: var(--color-background-button-theme-hover);
  color: var(--color-text-button-theme-hover);
}

.mobile-menu-btn {
  display: none;
}

/* MOBILE */
@media (max-width: 850px) {
  .site-nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 20px 0;
    background: var(--color-background-primary);
    border-bottom: 1px solid var(--color-gray-200);

    display: none;
    flex-direction: column;
  }

  .site-nav.open {
    display: flex;
  }

  .site-nav ul {
    flex-direction: column;
    gap: 20px;
  }

  .mobile-menu-btn {
    display: block;
  }
}
