.norti-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.norti-card {
  position: relative;
  width: 100%;
  aspect-ratio: 4/4;
  border-radius: 26px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .4s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
}

.norti-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .6s ease;
}

.norti-card:hover .norti-card-img {
  transform: scale(1.02);
}

.norti-card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  color: var(--color-norti-white);
  opacity: 0;
  transition: opacity .4s ease;
}

.norti-card:hover .norti-card-overlay {
  opacity: 1;
}

.norti-card-title,
.norti-card-subtitle {
  transform: translateY(10px);
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
}

.norti-card:hover .norti-card-title,
.norti-card:hover .norti-card-subtitle {
  color: var(--color-norti-white);
  transform: translateY(0);
  opacity: 1;
}

.norti-card-title {
  font-size: clamp(24px, 4vw, 42px);
}

.norti-card-subtitle {
  font-size: clamp(14px, 2vw, 18px);
}


@media (max-width: 1024px) {
  .norti-cards-container {
    grid-template-columns: 1fr; /* 1 card por linha */
    padding: 0 20px; /* opcional: ajustar o padding para telas menores */
    gap: 12px; /* opcional: reduzir o gap */
  }
}