.norti-cardDefault {
  background: var(--color-background-tertiary);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 320px;
  transition: 0.3s ease;
}

.norti-cardDefault:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 24px rgba(0,0,0,0.1);
}

.norti-cardDefault h3 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}



.norti-cardDefault > norti-icons {
  color: red;
}

.norti-cardContent {
  font-size: 16px;
  color: blue;
  margin: 0;
  font-weight: 400;
}
