.norti-cards-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 22px;
  height: auto;
}

.norti-card {
  position: relative;
  display: block;
  width: 100%;         /* preenche o container */
  max-width: 708px;    /* mantém o tamanho máximo */
  height: 780px;       /* define altura fixa */
  border-radius: 28px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .4s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.norti-card-img {
  position: absolute;  /* para preencher o card */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .6s ease;
}


.norti-card:hover .norti-card-img {
  transform: scale(1.02);
}
.norti-card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 10%,
    rgba(0,0,0,0.85)
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  color: white;

  opacity: 0;          /* overlay começa invisível */
  transition: opacity .4s ease;
}

.norti-card:hover .norti-card-overlay {
  opacity: 1;          /* aparece no hover */
}

.norti-card-title,
.norti-card-subtitle {
  transform: translateY(10px);
  opacity: 0;
  transition: transform .4s ease, opacity .4s ease;
}

.norti-card:hover .norti-card-title,
.norti-card:hover .norti-card-subtitle {
  color: var(--color-norti-white);
  transform: translateY(0);
  opacity: 1;
}
